#exit {
	-fx-background-color: transparent;
	-fx-pref-width: 144px;
	-fx-pref-height: 51px;
	-fx-background-image: url("/elements/exit.png");
}

.label{
	-fx-font-family:"Lucida Bright";
	-fx-text-fill:white;
	-fx-font-size:24;
}

#info{
	-fx-translate-x:20;
	-fx-translate-y:250;
	-fx-spacing:20;
}